In [1]:
import pandas as pd

# CSV Reading using Pandas
***

***Getting csv's complete data***
***

In [2]:
csv_data=pd.read_csv("D:\Python\Data Sets\dermatology.csv")

csv_data

,2,2.1,0,3,0.1,0.2,0.3,0.4,1,0.5,...,0.19,0.20,3.2,0.21,0.22,0.23,1.1,0.24,55,2.3
0,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
1,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
2,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
3,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3
4,2,3,2,0,0,0,0,0,0,0,...,0,0,2,0,0,0,1,0,41,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2,1,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,2,0,25,4
361,3,2,1,0,1,0,0,0,0,0,...,1,0,1,0,0,0,2,0,36,4
362,3,2,2,2,3,2,0,2,0,0,...,0,3,0,3,0,0,2,3,28,3
363,2,1,3,1,2,3,0,2,0,0,...,0,2,0,1,0,0,2,3,50,3
364,3,2,2,0,0,0,0,0,3,3,...,2,0,0,0,0,0,3,0,35,1

***
***Getting csv's specific no. of rows***
***

In [9]:
spcData=pd.read_csv("D:\Python\Data Sets\dermatology.csv",nrows=5)# returns row-1 to row5.

spcData

,2,2.1,0,3,0.1,0.2,0.3,0.4,1,0.5,...,0.19,0.20,3.2,0.21,0.22,0.23,1.1,0.24,55,2.3
0,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
1,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
2,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
3,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3
4,2,3,2,0,0,0,0,0,0,0,...,0,0,2,0,0,0,1,0,41,2

***
***Getting csv's specific no. of cols***
***

In [20]:
spcData=pd.read_csv("D:\Python\Data Sets\dermatology.csv",usecols=[2,0])# returns values of col "2" and "0"

spcData

     2  0
0    3  3
1    2  2
2    2  2
3    2  2
4    2  2
..  .. ..
360  2  1
361  3  1
362  3  2
363  2  3
364  3  2

[365 rows x 2 columns]

***
***Getting csv's with skipped data***
***

In [22]:
spcData=pd.read_csv("D:\Python\Data Sets\dermatology.csv",skiprows=[0])# returns values of col "2" and "0"

spcData

,3,3.1,3.2,2,1,0,0.1,0.2,1.1,1.2,...,0.8,0.9,0.10,0.11,0.12,0.13,1.7,0.14,8,1.8
0,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
1,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
2,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3
3,2,3,2,0,0,0,0,0,0,0,...,0,0,2,0,0,0,1,0,41,2
4,2,1,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,18,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2,1,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,2,0,25,4
360,3,2,1,0,1,0,0,0,0,0,...,1,0,1,0,0,0,2,0,36,4
361,3,2,2,2,3,2,0,2,0,0,...,0,3,0,3,0,0,2,3,28,3
362,2,1,3,1,2,3,0,2,0,0,...,0,2,0,1,0,0,2,3,50,3
363,3,2,2,0,0,0,0,0,3,3,...,2,0,0,0,0,0,3,0,35,1