In [1]:
import pandas as pd

In [12]:
val=pd.read_csv("D:\\Python\\Data Sets\\Financial Allocations.csv")
val=val.head(12)
val

,Country,EU member,Financial allocations($ billion),Humanitarian allocations($ billion),Military allocations($ billion),Total bilateral allocations($ billion),Shares
0,Australia,0,0.728552,0.069499,0.003587,0.801638,0.140745
1,Austria,1,0.191309,0.053399,0.923287,1.167995,0.000000
2,Belgium,1,0.000000,0.001041,0.262288,0.263330,0.120810
3,Bulgaria,1,3.695839,0.397457,2.068583,6.161879,0.052599
4,Canada,0,NaN,0.086783,0.203566,NaN,0.486123
5,Croatia,1,0.001071,NaN,0.000000,0.004286,NaN
6,Cyprus,1,0.000000,0.057240,1.378977,1.436216,0.066770
7,NaN,1,0.131348,0.261334,NaN,5.509301,NaN
8,Denmark,1,0.000000,0.052539,0.524732,0.577272,0.556736
9,Estonia,1,29.656888,NaN,NaN,32.106644,5.689608
10,Finland,1,0.856477,0.387744,2.883296,4.127517,0.397497
11,France,1,1.507460,3.263849,10.752226,NaN,0.311993

# Replace
***

In [3]:
# val.replace(to_replace=0,value=2)#replace(to_replace=value/data going to be place, value=new_value)

In [8]:
#same as
val.replace(0,2)

,Country,EU member,Financial allocations($ billion),Humanitarian allocations($ billion),Military allocations($ billion),Total bilateral allocations($ billion),Shares
0,Australia,2,0.728552,0.069499,0.003587,0.801638,0.140745
1,Austria,1,0.191309,0.053399,0.923287,1.167995,2.000000
2,Belgium,1,2.000000,0.001041,0.262288,0.263330,0.120810
3,Bulgaria,1,3.695839,0.397457,2.068583,6.161879,0.052599
4,Canada,2,2.000000,0.086783,0.203566,0.290349,0.486123
5,Croatia,1,0.001071,0.003214,2.000000,0.004286,NaN
6,Cyprus,1,2.000000,0.057240,1.378977,1.436216,0.066770
7,NaN,1,0.131348,0.261334,NaN,5.509301,2.000000
8,Denmark,1,2.000000,0.052539,0.524732,0.577272,0.556736
9,Estonia,1,29.656888,2.449756,2.000000,32.106644,5.689608
10,Finland,1,0.856477,0.387744,2.883296,4.127517,0.397497
11,France,1,1.507460,3.263849,10.752226,15.523534,0.311993

In [5]:
val.replace(to_replace=[0,1],value=[2,5])

,Country,EU member,Financial allocations($ billion),Humanitarian allocations($ billion),Military allocations($ billion),Total bilateral allocations($ billion),Shares
0,Australia,2,0.728552,0.069499,0.003587,0.801638,0.140745
1,Austria,5,0.191309,0.053399,0.923287,1.167995,2.000000
2,Belgium,5,2.000000,0.001041,0.262288,0.263330,0.120810
3,Bulgaria,5,3.695839,0.397457,2.068583,6.161879,0.052599
4,Canada,2,2.000000,0.086783,0.203566,0.290349,0.486123
5,Croatia,5,0.001071,0.003214,2.000000,0.004286,NaN
6,Cyprus,5,2.000000,0.057240,1.378977,1.436216,0.066770
7,NaN,5,0.131348,0.261334,NaN,5.509301,2.000000
8,Denmark,5,2.000000,0.052539,0.524732,0.577272,0.556736
9,Estonia,5,29.656888,2.449756,2.000000,32.106644,5.689608
10,Finland,5,0.856477,0.387744,2.883296,4.127517,0.397497
11,France,5,1.507460,3.263849,10.752226,15.523534,0.311993

In [11]:
val.replace("Austria","Pakistan")

,Country,EU member,Financial allocations($ billion),Humanitarian allocations($ billion),Military allocations($ billion),Total bilateral allocations($ billion),Shares
0,Australia,0,0.728552,0.069499,0.003587,0.801638,0.140745
1,Pakistan,1,0.191309,0.053399,0.923287,1.167995,0.000000
2,Belgium,1,0.000000,0.001041,0.262288,0.263330,0.120810
3,Bulgaria,1,3.695839,0.397457,2.068583,6.161879,0.052599
4,Canada,0,0.000000,0.086783,0.203566,0.290349,0.486123
5,Croatia,1,0.001071,0.003214,0.000000,0.004286,NaN
6,Cyprus,1,0.000000,0.057240,1.378977,1.436216,0.066770
7,NaN,1,0.131348,0.261334,NaN,5.509301,0.000000
8,Denmark,1,0.000000,0.052539,0.524732,0.577272,0.556736
9,Estonia,1,29.656888,2.449756,0.000000,32.106644,5.689608
10,Finland,1,0.856477,0.387744,2.883296,4.127517,0.397497
11,France,1,1.507460,3.263849,10.752226,15.523534,0.311993

In [10]:
val.replace({"Country":"France"},"Pakistan")

,Country,EU member,Financial allocations($ billion),Humanitarian allocations($ billion),Military allocations($ billion),Total bilateral allocations($ billion),Shares
0,Australia,0,0.728552,0.069499,0.003587,0.801638,0.140745
1,Austria,1,0.191309,0.053399,0.923287,1.167995,0.000000
2,Belgium,1,0.000000,0.001041,0.262288,0.263330,0.120810
3,Bulgaria,1,3.695839,0.397457,2.068583,6.161879,0.052599
4,Canada,0,0.000000,0.086783,0.203566,0.290349,0.486123
5,Croatia,1,0.001071,0.003214,0.000000,0.004286,NaN
6,Cyprus,1,0.000000,0.057240,1.378977,1.436216,0.066770
7,NaN,1,0.131348,0.261334,NaN,5.509301,0.000000
8,Denmark,1,0.000000,0.052539,0.524732,0.577272,0.556736
9,Estonia,1,29.656888,2.449756,0.000000,32.106644,5.689608
10,Finland,1,0.856477,0.387744,2.883296,4.127517,0.397497
11,Pakistan,1,1.507460,3.263849,10.752226,15.523534,0.311993

***
# interpolate 
**Used to fill blank cells with randomly generated numbers.(It only works with numbers)**
***

In [13]:
val

,Country,EU member,Financial allocations($ billion),Humanitarian allocations($ billion),Military allocations($ billion),Total bilateral allocations($ billion),Shares
0,Australia,0,0.728552,0.069499,0.003587,0.801638,0.140745
1,Austria,1,0.191309,0.053399,0.923287,1.167995,0.000000
2,Belgium,1,0.000000,0.001041,0.262288,0.263330,0.120810
3,Bulgaria,1,3.695839,0.397457,2.068583,6.161879,0.052599
4,Canada,0,NaN,0.086783,0.203566,NaN,0.486123
5,Croatia,1,0.001071,NaN,0.000000,0.004286,NaN
6,Cyprus,1,0.000000,0.057240,1.378977,1.436216,0.066770
7,NaN,1,0.131348,0.261334,NaN,5.509301,NaN
8,Denmark,1,0.000000,0.052539,0.524732,0.577272,0.556736
9,Estonia,1,29.656888,NaN,NaN,32.106644,5.689608
10,Finland,1,0.856477,0.387744,2.883296,4.127517,0.397497
11,France,1,1.507460,3.263849,10.752226,NaN,0.311993

In [23]:
val.interpolate(axis=0)

C:\Users\toshiba\AppData\Local\Temp\ipykernel_5072\3494746694.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  val.interpolate(axis=0)

,Country,EU member,Financial allocations($ billion),Humanitarian allocations($ billion),Military allocations($ billion),Total bilateral allocations($ billion),Shares
0,Australia,0,0.728552,0.069499,0.003587,0.801638,0.140745
1,Austria,1,0.191309,0.053399,0.923287,1.167995,0.000000
2,Belgium,1,0.000000,0.001041,0.262288,0.263330,0.120810
3,Bulgaria,1,3.695839,0.397457,2.068583,6.161879,0.052599
4,Canada,0,1.848455,0.086783,0.203566,3.083082,0.486123
5,Croatia,1,0.001071,0.072012,0.000000,0.004286,0.276446
6,Cyprus,1,0.000000,0.057240,1.378977,1.436216,0.066770
7,NaN,1,0.131348,0.261334,0.951855,5.509301,0.311753
8,Denmark,1,0.000000,0.052539,0.524732,0.577272,0.556736
9,Estonia,1,29.656888,0.220141,1.704014,32.106644,5.689608
10,Finland,1,0.856477,0.387744,2.883296,4.127517,0.397497
11,France,1,1.507460,3.263849,10.752226,4.127517,0.311993